

h1, h3, h4, footer {
  text-transform: capitalize;
}

#p {
  text-transform: capitalize;
}


nav {
  background-color: darkblue;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center; 
  gap: 20px; 
  justify-content: space-around;
}


nav > button {
  display: flex;
  flex-direction: row;
  background-color:white;
  color: darkblue;
  border: none;
  cursor: pointer;
  position: relative;
  width: 20%;
  height: 40%;
  text-align: center;
  font-size: 130%;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  white-space: nowrap;
}

.main {
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: white;
 color: black;
 width: 100%;
 height: 600px;
 white-space: nowrap;
 margin-bottom: 40px;
}

.section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  gap: 40px;
  margin-bottom: 40px;
}

.section1 > div {
  text-align: center;
  background-color:blue;
  color: white;
  padding: 15px;
  border-radius: 8px;
  justify-content: space-around;
  height: auto;
  height: 70%;

}

.section2 {
  display: flex;
  background-color: blue;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 20px;
 
}

.section2 > div {
  background-color: paleturquoise;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  width: 15%;

}

.section2 > div > button {
 background-color: blue;
 border: none;
 cursor: pointer;
 border-radius: 3px;
 color: white;
 
}

h4 {
  color: blue;
}

footer {
  background-color: black;
  color: aliceblue;
  text-align: center;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .section2, .section1 {
      flex-direction: column;
  }

  h1 {
      font-size: 80%;
  }

  .section1 > div, .section2 > div {
      width: 80%;
  }

  nav > button {
      font-size: 80%;
  }

  
}


/* body{
  background-color: bisque;


}

.pricing-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
  
}

.pricing-plan{
  background-color: aqua;
  text-align: center;
  margin-top: 250px;
}

button{
  background-color: orangered;
  color: white; 
} 

@media(max-width: 800px){
.pricing-plan{
  margin-top: 0%;
  background-color: gray;
}
.pricing-container{
  margin-top: 250px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

} */
